* {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
  font-weight: bold;
}

.page {
  text-align: center;
}
.logoIcon {
  width: 300px;
  height: 80px;
}
.tableContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}
table {
  width: 90%;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
}
th {
  background-color: rgb(35, 78, 103);
  color: white;
  font-size: 12px;
}
td {
  font-size: 10px;
}

.icons {
  font-size: 10px;
  width: 800px;
}

@media (max-width: 1045px) {
  .page {
    text-align: center;
  }
  .tableContainer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  table {
    overflow-x: auto;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    align-items: center;
  }
}
