<div class="page">
  <img class="logoIcon" src="/assets/koncilia-by-skit.png" />
  <h1>Transacciones</h1>
  <div class="tableContainer">
    <table>
      <thead>
        <!-- <th>ID</th> -->
        <!-- <th>ProcessDate</th> -->
        <th style="width: 100px">RuleName</th>
        <!-- <th>Process</th> -->
        <!-- <th>lineNumber</th> -->
        <th style="width: 15px">Consistent</th>
        <th style="width: 200px">idTx</th>
        <!-- <th>fechaPago</th> -->
        <!-- <th>idCredito</th> -->
        <th style="width: 70px">fechaTransaccion</th>
        <th style="width: 50px">nombreCanal</th>
        <!-- <th>idDocumento</th>
        <th>tipoDocumento</th> -->
        <th style="width: 50px">valor</th>
        <!-- <th>fechaVencimiento</th>
        <th>descripcion</th> -->
        <th style="width: 70px">producto</th>
        <th style="width: 70px">referencia</th>
        <th style="width: 70px">secuencia</th>
        <th style="width: 40px">canal</th>
        <th style="width: 70px">documento</th>
        <!-- <th>transaccion</th>
        <th>causal</th>
        <th>subcausal</th>
        <th>autorización</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <!-- <td>{{ transaction.id }}</td> -->
          <!-- <td>{{ transaction.processDate }}</td> -->
          <td>{{ transaction.ruleName }}</td>
          <!-- <td>{{ transaction.process }}</td> -->
          <!-- <td>{{ transaction.lineNumber }}</td> -->
          <td *ngIf="transaction.isConsistent == true; else inconsistent">
            <fa-icon [icon]="faCheckCircle" class="icons"></fa-icon>
          </td>
          <ng-template #inconsistent>
            <fa-icon [icon]="faTimesCircle" class="icons"></fa-icon>
          </ng-template>
          <td>{{ transaction.idTx }}</td>
          <!-- <td>{{ transaction.fechaPago }}</td> -->
          <!-- <td>{{ transaction.idCredito }}</td> -->
          <td>{{ transaction.fechaTransaccion }}</td>
          <td>{{ transaction.nombreCanal }}</td>
          <!-- <td>{{ transaction.idDocumento }}</td>
          <td>{{ transaction.tipoDocumento }}</td> -->
          <td>$ {{ transaction.valor }}</td>
          <!-- <td>{{ transaction.fechaVencimiento }}</td>
          <td>{{ transaction.descripcion }}</td> -->
          <td>{{ transaction.producto }}</td>
          <td>{{ transaction.referenciaPago }}</td>
          <td>{{ transaction.secuencia }}</td>
          <td>{{ transaction.canal }}</td>
          <td>{{ transaction.documento }}</td>
          <!-- <td>{{ transaction.transaccion }}</td>
          <td>{{ transaction.causal }}</td>
          <td>{{ transaction.subcausal }}</td>
          <td>{{ transaction.autorizacion }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
